# .gitignore for Grails 1.2 and 1.3

# IDE support files
.classpath
.settings
.project
*.iws
.idea/workspace.xml
.idea/tasks.xml

# general HSQL database files
*Db.properties
*Db.script
/*DB.*

# logs
stacktrace.log
*.log

# plugin release file
/*.zip

# older plugin install locations
/plugin.xml
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target/
/out/

# other
/cobertura.ser
.DS_Store
